<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Internet</title>
        <link rel="stylesheet" href="../static/styles/style.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <img id="globe" src="../static/images/globe.png" alt="A globe icon">
                <h1>The Inter<span>net</span></h1>
            </div>
            <h2 id="title">The World Wide Web</h2>
            <div class="sidebar">
                <h4>So, what's an <span>Internet?</span></h4>
                <p>An <span>Inter</span>connected <span>Net</span>work of computers all around the world!</p>
                <br>
                <a id="video" href="">WATCH A VIDEO</a>
                <a id="resources" href="">MORE RESOURCES</a>
                <br>
                <hr>
                <br>
                <div class="ad">
                    <h3>Reinvent your career in just 14 weeks</h3>
                    <img id="ninja" src="../static/images/ninja.png" alt="A ninja">
                    <a id="learn" href="">Learn More</a>
                </div>
            </div>
            <div class="contact">
                <img id="home" src="../static/images/home.png" alt="A home icon">
                <h4>DNS</h4>
                <div class="contact_info">
                    <img id="phone" src="../static/images/phone.png">
                </div>
            </div>
        </div>
    </body>
</html>