*{
    margin: 0px;
    padding: 0px;
}
.container{
    margin: auto;
    width: 1000px;
    height: 800px;
    background-image: linear-gradient(#ffffff 5%, #e5e5e5 5%, #ededed 5%, #ffffff 5%);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

    a{
        text-decoration: none;
        color: white;
    }
    span{
        color: #00c0df;
    }
    .header{
        margin: 15px 15px 0 15px;
    }
    #globe{
        width: 80px;
        position: absolute;
    }
    h1{
        margin: 20px 0 0 80px;
        display: inline-block;
        vertical-align: top;
        color:grey;
    }
    #net{
        color: #24669f;
    }
    #title{
        padding: 15px 20px 15px 20px;
        color: white;
        background-image: linear-gradient(#25679f, #5183ac, #25679f);
    }
    .sidebar{
        width: 200px;
        height: 600px;
        display: inline-block;
        position: absolute;

        h4{
            margin: 5px;
        }
        
        p{
            font-size: 14px;
            margin: 5px;
        }
        
        #video{
            margin-left: 10px;
            padding: 10px;
            width: 160px;
            text-align: center;
            display: block;
            background-color: #3e7aae;
            border-radius: 8px;
        }
        
        #resources{
            margin: 5px 0 5px 10px;
            width: 160px;
            padding: 10px;
            text-align: center;
            display: block;
            background-color:#ee8100;
            border-radius: 8px;
        }
        
        .ad{
            width: 200px;
            height: 300px;
            margin-top: 5px;
            background-image: url("../images/ad_background.png");

            h3{
                color: white;
                text-align: center;
                padding: 20px 10px 10px 10px;
                font-size: 22px;
            }

            #ninja{
                width: 80px;
                display: block;
                margin-left: 60px;
            }
            #learn{
                margin: 20px 0 0 15px;
                width: 160px;
                padding: 5px;
                text-align: center;
                display: block;
                background-color:#2ec7df;
                border-radius: 5px;
            }
        }
    }
    .contact{
        width: 745px;
        height: 80px;
        display: inline-block;
        position: relative;
        left: 240px;
        border-bottom: 1px solid;

        #home{
            width: 20px;
            margin-top: 15px;
        }
        h4{
            display: inline-block;
            color: #306ea3;
            vertical-align: top;
            margin-top: 18px;
        }
        #phone{
            width: 40px;
            position: absolute;
            right: 165px;
            top: 15px;
        }
        .contact_info{
            width: 160px;
            text-align: center;
            position: absolute;
            line-height: 1;
            right: 0;
            top: 0;

            p{
                display: inline-block;
                font-size: 10px;
            }
            p span{
                font-size: 24px;
            }
        }
    }
    .main_content{
        width: 745px;
        height: 430px;
        position: relative;
        display: inline-block;
        margin-top: 10px;
        left: 240px;

        h3{
            color: #22659e;
        }
        p{
            font-size: 15px;
            margin-top: 5px;
        }
        .cs{
            font-weight: bold;
            color: black;
        }
        ul{
            margin-left: 40px;
        }
        ol{
            margin-left: 40px;
        }
            
        #cs_diagram{
            width: 250px;
            margin: 15px 0 15px 250px;
        }
    }
    .footer{
        width: 745px;
        height: 130px;
        margin-top: 15px;
        position: relative;
        left: 240px;
        border: 4px solid #22659e;
        border-bottom: none;

        #html{
            width: 100px;
            margin: 15px 0 0 20px;
            display: inline-block;
            vertical-align: top;
        }
        .big3{
            width: 600px;
            margin: 15px 0 0 20px;
            display: inline-block;

            h3{
                color: #22659e;
            }
            
            p{
                font-size: 15px;
                margin: 5px 0 5px 0;
            }

            #italicized{
                font-style: italic;
                color: black;
            }
        }
    }
}